<div id="main" class="container">
  Ember skeleton redefined v{{App.VERSION}}
  <br />
  <button {{bindAttr disabled="view.buttonStateDisabled"}} {{action doTest}}>{{view.buttonText}}</button>
  {{outlet}}
</div>
